composer.phar
.env
/vendor/
/storage/imports/*
/storage/conteos/*
!/storage/imports/.gitkeep
!/storage/conteos/.gitkeep
/public/uploads/productos/*
/public/uploads/conteos/*
!/public/uploads/productos/.gitkeep
!/public/uploads/conteos/.gitkeep
/docs/analysis_results.md
